<?php

return [
    // App preferences
    'app' => [
        'name' => 'SwiftPHP',            // App Name
        'default_title' => 'SwiftPHP',   // Default HTML title
        'default_lang' => 'en',          // Default language
    ],

    // Database
    'db' => [
        'host' => 'localhost',
        'port' => 3306,
        'dbname' => 'swiftphp',
        'user' => 'root',
        'password' => '',
        'charset' => 'utf8mb4',
    ],

    // Localization
    'localization' => [
        'path' => __DIR__ . '/../localization/',
    ]
];
