<?php

return [

    // App preferences
    'app' => [
        'name' => 'SwiftPHP',
        'default_title' => 'SwiftPHP - Fast and lightweght PHP framework.',
        'default_lang' => 'en',
    ],

    // Database
    'db' => [
        'host' => 'localhost',
        'port' => 3306,
        'dbname' => 'swiftphp',
        'user' => 'root',
        'password' => '',
        'charset' => 'utf8mb4',
    ],

    // Localization
    'localization' => [
        'path' => __DIR__ . '/../localization/',
    ],

    // Views
    'views' => [
        'path' => __DIR__ . '/../app/Views/',
        'layouts_path' => __DIR__ . '/../app/Views/_layouts/',
        'master' => 'master.php',
        'default_layout' => 'public',
    ]
];
